<div xmlns:th="http://www.thymeleaf.org" th:insert="header :: header"></div>
<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">

				<div class="card-title">Liste des clients</div>
				<div class="card-body">
					<table class="table table-head-bg-primary">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom de famille</th>
								<th scope="col">Telephone</th>
								<th scope="col">Village</th>
								<th scope="col">Adresse</th>
								<th scope="col">Action</th>
								<!-- <th scope="col">Action</th> -->
							</tr>
						</thead>
						<tbody>
							<th:block xmlns:th="http://www.thymeleaf.org"
								th:each="c:${liste_clients}">
								<tr>
									<td th:text="${c.id}"></td>
									<td th:text="${c.nomDeFamille}"></td>
									<td th:text="${c.telephone}"></td>
									<td th:text="${c.village.nomVillage}"></td>
									<td th:text="${c.adresse}"></td>

									<!-- <td>
										<button class="btn btn-default btn-sm">
											<i class="fa fa-edit"></i> Editer
										</button>
									</td> -->
										<td><a class="btn btn-default btn-sm"
										th:href="@{/deleteClient(id=${c.id})}"> <i class="fa fa-edit"></i>
											Supprimer
									</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-secondary">
			<div class="card-header">
				<div class="card-title">Ajouter un client</div>
				<div class="card-category">Formulaire</div>
				<div>
				<th:block xmlns:th="http://www.thymeleaf.org">
					<form th:action="@{/addClient}" th:object="${village}" method="post">
						<div class="form-group">
							<label>Nom</label> <input class="form-control" type="text"
								name="nomDeFamille">
						</div>
						<div class="form-group">
							<label>Télephone</label> <input class="form-control" type="text"
								name="telephone">
						</div>
						<div class="form-group">
							<label>Village</label> <select name="village"
								class="form-control">
								<option value="opt1">Choisir un village</option>
								<option th:each="village: ${liste_villages}" th:value="${village.id}" th:text="${village.nomVillage}"></option>
							</select>
						</div>
						<div class="form-group">
							<label>Adresse</label> <input class="form-control" type="text"
								name="adresse">
						</div>
						<div class="form-group">
							<input class="btn btn-success" type="submit" value="Enregistrer" />
						</div>
					</form>
					</th:block>
				</div>

			</div>
		</div>

	</div>
</div>
<div xmlns:th="http://www.thymeleaf.org" th:insert="footer :: footer"></div>