<div xmlns:th="http://www.thymeleaf.org" th:insert="header :: header"></div>
<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">

				<div class="card-title">Liste des villages</div>
				<div class="card-body">
					<table class="table table-head-bg-primary">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom du village</th>
								<th scope="col">Action</th>
								<th scope="col">Action</th>
							</tr>
						</thead>

						<tbody>
							<th:block xmlns:th="http://www.thymeleaf.org"
								th:each="l:${liste_villages}">

								<tr>

									<td th:text="${l.id}"></td>
									<td th:text="${l.nomVillage}"></td>

									<td><a class="btn btn-default btn-sm"
										th:href="@{/delete(id=${l.id})}"> <i class="fa fa-edit"></i>
											Supprimer
									</a></td>
									<td>
										<!-- <a class="btn btn-default btn-sm"
										th:href="@{/Village/edit(id=${l.id)}"> --> <i
										class="fa fa-edit"></i> Editer <!-- </a> -->
									</td>

								</tr>

							</th:block>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-secondary">
			<div class="card-header">
				<div class="card-title">Ajouter un village</div>

				<div>
					<th:block xmlns:th="http://www.thymeleaf.org">
						<form th:action="@{/addVillage}" th:object="${village}"
							method="post">
							<div class="form-group">
								<label>Nom du village</label> <input type="text"
									name="nomVillage" required />
							</div>

							<div class="form-group">
								<input class="btn btn-success" type="submit" value="Enregistrer" />
							</div>
						</form>
					</th:block>
				</div>

			</div>
		</div>

	</div>
</div>
<div xmlns:th="http://www.thymeleaf.org" th:insert="footer :: footer"></div>
